/*
 * @Author: PosyMo 
 * @Date: 2018-04-05 11:19:18 
 * @Last Modified by: PosyMo
 * @Last Modified time: 2018-07-07 15:15:14
 * 
 * === 常用css代码块 ===
 * 
 */

 /* Box-sizing reset */
 html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
 
/* 单行文本溢出 */
.text-overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* 多行文本溢出 */
.text-overflow {
    position: relative;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

/* 纯css三角箭头 */
.arrow {
    display: block;
    height: 0;
    border-color: transparent #333 transparent transparent;
    border-style: solid;
    border-width: 5px;
}

/* 单边阴影 */
.box-shadow {
    -webkit-box-shadow: 0 20px 20px -20px red;
    box-shadow: 0 20px 20px -20px red;
}

/* 纵向贯穿式侧边栏 */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
}

/* 在谷歌浏览器下设置鼠标选中文字的背景颜色 */
::selection {
    background-color: #f00;
}

/* 现阶段最常见的两种清除浮动的方式，更推荐后者 */
.clearfix:after {
    content: ".";
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
}
.clearfix { zoom: 1; }
/* 或者 */
.clearfix:before,
.clearfix:after {
    content: ' ';
    display: table;
}
.clearfix:after { clear: both; }

/* 设置图片灰度 */
.img-filter {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

/* 设置文字不可被选中状态 */
.user-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* 元素水平垂直居中方案 传统布局 & flex */
.chilid-box {
    width: 150px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #f00;
}

.parent-box {
    width: 100%;
    height: 400px;
    justify-content: center;
    align-items: center;
    display: -webkit-flex;
    background-color: #35a0ff;
}

/* 高dpi图片对于不同设备的适配方案 */
.bg-image {
    background-image: url("$url_@2x.png");
}
@media (-webkit-min-device-pixel-ratio: 3.0), (min-device-pixel-ratio: 3.0) {
    .bg-image {
        background-image: url("$url_@3x.png");
    }
}

/* 移动端设备下的1像素边框 */
.border-1px {
    position: relative;
}
.border-1px:after {
    content: '';
    width: 100%;
    height: 1px;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    border-top: 1px solid rgba(0, 0, 0, .5);
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
    .border-1px:after {
        -webkit-transform: scaleY(0.7);
        transform: scaleY(0.7);
    }
}
@media (-webkit-min-device-pixel-ratio: 2.0), (min-device-pixel-ratio: 2.0) {
    .border-1px:after {
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5);
    }
}

/* 标准线性渐变 */
.background-gradient {
    background: -webkit-linear-gradient(90deg, red 50%,orange 60%,yellow 70%,green 80%,blue 90%,indigo 95%,violet);
    background: -o-linear-gradient(90deg, red 50%,orange 60%,yellow 70%,green 80%,blue 90%,indigo 95%,violet);
    background: -moz-linear-gradient(90deg, red 50%,orange 60%,yellow 70%,green 80%,blue 90%,indigo 95%,violet);
    background: linear-gradient(90deg, red 50%,orange 60%,yellow 70%,green 80%,blue 90%,indigo 95%,violet);
}

/* 标准径向渐变 */
.background-gradient {
    background: -webkit-radial-gradient(red, green, blue); /* Safari 5.1 - 6.0 */
    background: -o-radial-gradient(red, green, blue); /* Opera 11.6 - 12.0 */
    background: -moz-radial-gradient(red, green, blue); /* Firefox 3.6 - 15 */
    background: radial-gradient(red, green, blue); /* 标准的语法 */
}

/* scrollbar 滚动条样式 仅限webkit平台 */
/* Document scrollbar */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
/* Scrollable element */
    .some-element::webkit-scrollbar {
}